<div class="search-form-container">
  <input
    nbInput
    fullWidth
    type="text"
    status="primary"
    [(ngModel)]="searchTerm"
    (keydown.enter)="search()"
    placeholder="Search for recipies">
  <button nbButton status="primary" (click)="search()">
    <nb-icon icon="search-outline"></nb-icon>
  </button>
</div>

<h2 *ngIf="!lastSearchTerm?.length" class="title">{{'Try these ' + recommendationKeyword + ' recipies!' }}</h2>
<h2 *ngIf="lastSearchTerm?.length" class="title">{{'Results for "' + lastSearchTerm + '"' }}</h2>

<app-recipe-list
  [recipeList]="recipeList">
</app-recipe-list>

<div *ngIf="!recipeList.length" class="no-results">No results</div>
