.search-form-container {
  display: grid;
  gap: 16px;
  grid-template-columns: minmax(222px, 600px) 50px;
  max-width: 650px;
  margin: auto;
}

.title {
  text-align: center;
}

.no-results {
  font-style: italic;
  color: gray;
  text-align: center;
}
